<div class="right-widget categories">
    <h3>Assigned Courses</h3>
    <ul>
       <li><a href="#">Angular 10</a></li>
       <li><a href="#">Python</a></li>
       <li><a href="#">HTML</a></li>
       <li><a href="#">Angular Material</a></li>
       <li><a href="#">Css</a></li>
       <li><a href="#">Spring Framework</a></li>
       <li><a href="#">Java</a></li>
       <li><a href="#">Hibernate</a></li>
       <li><a href="#">SpringBoot</a></li>
       <li><a href="#">MySql</a></li>
   </ul>
  </div>